@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F7F9FC];
    min-height: 100vh;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #F7F9FC;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #E2E8F0;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #CBD5E1;
}

/* Base input styles */
input, textarea {
  font-family: inherit;
}
